body{
    margin: 0;
    padding-top: 800px;
    text-align: center;
}
.hobby{
    width:500px;
    height: 500px;
    margin-bottom: 50px;
    margin-top: 50px;
    border-radius:50%;
}
#welcome{
    position: absolute;
    color:azure;
    bottom: 0;
    top: 0;
    background-color: coral;
    display: table;
    width: 100%;
    height: :100%;
    z-index: 9;
}
h1{
    font-size: 40px;
    line-height: 1.2;
    font-family: 'lato', sans-serif;
    font-weight: 300;
}
#name{
    font-size: 30px;
    line-height: 1.2;
    font-family: 'Cinzel Decorative', cursive;
}
h2{
   font-size: 30px;
    font-weight: 300;
    line-height: 1.2;
    font-family:monospace; 
}
#cricket{
    padding: 50px;
    text-align: center;
}
.line{
    height: 6px;
    background-color:black; 
    width: 70px;
        margin: 8px auto;
}
p{
    max-width: 650px;
    margin: 25px auto;
    font-size: 17px;
    line-height: 1.3;
}
.parallax-inner{
    display:table-cell;
    position: relative;
    text-align: center;
    vertical-align: middle;
}
.menu{
    list-style: none;
    position: fixed;
    width:100%;
    top: 0px;
    margin-bottom: auto;
    margin-top: 0px;
    cursor: pointer;
    z-index: 10;
}
.links{
    color: darkslategrey;
    display: inline;
    padding-top: 5px;
    padding-left:33px;
    padding-right: 25px;
    padding-bottom: 5px;
    font-family: fantasy;
    font-size: 20px;
}
.links:hover {
    background-color: cadetblue;
    font-size: 25px;
    text-decoration:underline;
}
html{
    scroll-behavior: smooth;
}
#inspiration{
    width: 100%;
    height: 800px;
    background-color: darkturquoise;
}
    img{
    transition: transform .2s;
    width: 300px;
    margin: 30px;
}
img:hover{
    transform:scale(0.9);
}